
# NEXT_PUBLIC_SUPABASE_URL=https://owpnavpegwohtaoklbut.supabase.co
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_dJmmVKAn0hakLhTs-up7bg_Gc_Kpg9D
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93cG5hdnBlZ3dvaHRhb2tsYnV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY4MTEyMzgsImV4cCI6MjA4MjM4NzIzOH0.dqtG7V91KikE9r4-bA5g2VGTAp4OAgZzTAbu2-ShEKA
# NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93cG5hdnBlZ3dvaHRhb2tsYnV0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjgxMTIzOCwiZXhwIjoyMDgyMzg3MjM4fQ.3WHSSENvgNGYB-c2QySPXNOPwTfc6j8raw0GX371WVU
# RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx



NEXT_PUBLIC_SUPABASE_URL=https://xtpxmvaenouydjnwmtdy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_p7MJqkQ-aPPzGX7DPX_nIA_fA8ay-XA
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0cHhtdmFlbm91eWRqbndtdGR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjcyMTgyMjgsImV4cCI6MjA4Mjc5NDIyOH0.mpeZcATwmGSuzpmac2AR2MThdAB5uCQyVyR7b5sFtsA
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0cHhtdmFlbm91eWRqbndtdGR5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzIxODIyOCwiZXhwIjoyMDgyNzk0MjI4fQ.El118JYV9ou5rq0qzycd3DWkVcC_zKbc71cSHDKUhgQ

RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx